.voice-section {
    background-color: var(--c-g-5);
    color: var(--c-secondary);
}

.voice-section-holder {
    display: flex;
    flex-direction: row;
}

@media (max-width: 1024px),
(hover:none) {
    .voice-section-holder {
        flex-direction: column;
    }
}

.voice-hide {
    display: none !important;
}

.voice-section-text {
    padding: 4.5833333333vw 3.3333333333vw;
    border: 0.0520833333vw solid var(--c-g-4);
    border-right: none;
    width: 61.5625vw;
}

@media (max-width: 1024px),
(hover:none) {
    .voice-section-text {
        width: 100vw;
        padding: 6.25vw 4.1666666667vw;
    }
}

@media (max-width: 767px) {
    .voice-section-text {
        padding: 8.5333333333vw 6.4vw;
    }
}

.voice-section-text h4 {
    margin-top: 0.8333333333vw;
}

@media (max-width: 1024px),
(hover:none) {
    .voice-section-text h4 {
        margin-top: 1.0416666667vw;
    }
}

@media (max-width: 767px) {
    .voice-section-text h4 {
        margin-top: 2.1333333333vw;
    }
}

.voice-section-button {
    position: relative;
    width: 38.4375vw;
    transition: 0.4s;
    background-color: var(--c-secondary);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.0520833333vw solid var(--c-g-4);
}

@media (max-width: 1024px),
(hover:none) {
    .voice-section-button {
        width: 100vw;
        height: 32.2916666667vw;
        border-top: solid 0.1302083333vw var(--c-g-4);
    }
}

@media (max-width: 767px) {
    .voice-section-button {
        height: 38.4vw;
        border-top: solid 0.2666666667vw var(--c-g-4);
    }
}

@media (min-width: 1025px) {
    .voice-section-button:hover {
        background-color: var(--c-orange);
    }
    .voice-section-button:hover .voice-button-icon {
        fill: var(--c-black);
    }
}

.voice-section-button-active {
    position: relative;
    width: 38.4375vw;
    background-color: var(--c-orange);
    transition: 0.4s;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.0520833333vw solid var(--c-g-4);
}

@media (max-width: 1024px),
(hover:none) {
    .voice-section-button-active {
        width: 100vw;
        height: 32.2916666667vw;
    }
}

@media (max-width: 767px) {
    .voice-section-button-active {
        height: 38.4vw;
    }
}

.voice-section-button-active .voice-button-icon {
    fill: var(--c-black);
}

.voice-button-icon {
    width: 7.03125vw;
    fill: var(--c-primary);
    transition: 0.4s;
}

@media (max-width: 1024px),
(hover:none) {
    .voice-button-icon {
        width: 13.4114583333vw;
    }
}

@media (max-width: 767px) {
    .voice-button-icon {
        width: 14.1333333333vw;
    }
}

.voice-section-interaction {
    cursor: crosshair;
    width: 100vw;
    height: 31.9791666667vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 0.0520833333vw solid var(--c-g-4);
    background-color: var(--c-primary);
    color: var(--c-secondary);
    font-variation-settings: "wght" 50;
    -webkit-font-smoothing: antialiased;
}

@media (max-width: 1024px),
(hover:none) {
    .voice-section-interaction {
        height: 47.0052083333vw;
    }
}

@media (max-width: 767px) {
    .voice-section-interaction {
        height: 61.3333333333vw;
    }
}